/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* MAIN */
main,
p,
span,
button,
a,
ul,
li,
select,
input {
  font-family: 'Nunito', arial, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', arial, sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.fst-condensed {
  font-family: 'Asap Condensed', arial, sans-serif !important;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grab:active {
  cursor: grabbing;
}

.cursor-default {
  cursor: default;
}
